*{
    box-sizing: border-box;
}
html{
    font-family: 'arial',sans-serif;
    font-size: 14px;
    width: 100%;
}
body{
	padding: 0;
	margin: 0;
}
header{
	margin-bottom: 50px;
}
header h1{
	size:100%;
    text-align: center;
    margin-top:0;
    margin-bottom:0;
    padding: 10px;
    border-bottom: 1px solid black;
    font-size: 3em;
    
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.main-container{
	margin: 0 auto;	
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

section{
  	margin-bottom:30px;
    position: relative;
}
section .content-container{
	border: 1px solid black;
	position: relative;
	background-color: #f1f1f1;
}
section h2{
    text-align: center;
    display: inline-block;
    position: absolute;
    top:0; right:0;
    border-left:1px solid black;
    border-bottom:1px solid black;
    border-top:0;
    border-right:0;
    margin: 0 0;
    padding: 5px;
}
.headline-1{
	background-color: pink;
	color: black;
}
.headline-2{
	background-color: red;
	color: white;
}
.headline-3{
	background-color: yellow;
	color: black;
}

section p{
    text-align: justify;
    margin-top: 50px;
}


.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width:992px){
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
    float: left;
}
    
.col-md-12{width: 100%}
.col-md-11{width: 91.66%}
.col-md-10{width: 83.33%}
.col-md-9{width: 75%}
.col-md-8{width: 66.66%}
.col-md-7{width: 58.33%}
.col-md-6{width: 50%}
.col-md-5{width: 41.66%}
.col-md-4{width: 33.33%}
.col-md-3{width: 25%}
.col-md-2{width: 16.66%}
.col-md-1{width: 8.33%}
}

@media (min-width:768px) and (max-width:991px){
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
        float: left;
    
    }
.col-sm-12{width: 100%}
.col-sm-11{width: 91.66%}
.col-sm-10{width: 83.33%}
.col-sm-9{width: 75%}
.col-sm-8{width: 66.66%}
.col-sm-7{width: 58.33%}
.col-sm-6{width: 50%}
.col-sm-5{width: 41.66%}
.col-sm-4{width: 33.33%}
.col-sm-3{width: 25%}
.col-sm-2{width: 16.66%}
.col-sm-1{width: 8.33%}
}

@media (max-width:767px){
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
    float: left;
 }
.col-xs-12{width: 100%}
.col-xs-11{width: 91.66%}
.col-xs-10{width: 83.33%}
.col-xs-9{width: 75%}
.col-xs-8{width: 66.66%}
.col-xs-7{width: 58.33%}
.col-xs-6{width: 50%}
.col-xs-5{width: 41.66%}
.col-xs-4{width: 33.33%}
.col-xs-3{width: 25%}
.col-xs-2{width: 16.66%}
.col-xs-1{width: 8.33%}

}